services:
  api:
    image: node:20
    container_name: ${DOCKER_NAME}-api
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - TZ=Europe/Madrid
      - NODE_ENV=${NODE_ENV:-development}
      - DOCKER_ENVIRONMENT=${DOCKER_ENVIRONMENT:-dev}
      - PORT=${API_PORT:-3333}
      - DATABASE_URL=${DATABASE_URL:-mysql://plataforma:plataforma@mysql:3306/plataforma}
    working_dir: /api
    volumes:
      - ./apps/api:/api
    command: bash /api/init_container.sh
    ports:
      - ${API_PORT:-3333}:${API_PORT:-3333}
    networks:
      - docker-net

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    image: plata-forma-web
    container_name: ${DOCKER_NAME}-web
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - TZ=Europe/Madrid
      - DOCKER_ENVIRONMENT=${DOCKER_ENVIRONMENT:-dev}
      - API_URL=${API_URL:-http://api:3333}
    working_dir: /web
    volumes:
      - ./apps/web:/web
    command: bash /web/init_container.sh
    ports:
      - ${WEB_PORT:-9009}:9009
    depends_on:
      - api
    networks:
      - docker-net

networks:
  docker-net:
    external: ${DOCKER_NET}
